html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #50E3C2;
}

.blue {
	background-color: #4A90E2;
	width: 33.33%;
	height: 100%;
	margin-right: 66.67%;
	position: fixed;
}

.green {
	background-color: #B8E986;
	width: 33.33%;
	height: 80%;
	margin-left: 66.67%;
}	

.red {
	background-color: #D0021B;
	width: 33.33%;
	height: 20%;
	margin-left: 66.67%;
	color: white;
	text-align: center;
	font-family: arial;
	font-size: 20px;
	float: left;
	line-height: 100px;
}